#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  width: 100%;
  height: 100px;
}

header h1 {
  grid-column: 2/4;
  font-size: 2.5rem;
  font-weight: lighter;
  margin: 0;
  text-align: center;
}

.image-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  cursor: pointer;
  color: royalblue;
  grid-column: 4/5;
}

.image-button img {
  width: 40px;
  height: 40px;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.todo-actions-section {
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.todo-list-section {
  width: 100%;
  height: auto;
}

button {
  padding: 0;
  background-color: royalblue;
  color: white;
  border: none;
  grid-column: 1/2;
  font-size: 1.1rem;
}

.search-bar {
  padding: 10px;
  font-size: 1.1rem;
  border: 1px solid lightgray;
  grid-column: 2/5;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  padding: 10px;
  border-bottom: 1px solid #4F4F4F;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-list li.completed {
  text-decoration: line-through;
  color: #4F4F4F;
}

.todo-list li input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.todo-list li p {
  margin: 0;
  font-size: 1.1rem;
  max-width: 80%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-left: 1px solid black;
  padding: 0 20px;
}

.todo-list li p::-webkit-scrollbar {
  display: none;
}

@media (min-width: 600px) {
  .App {
    width: 600px;
  }

  .todo-list li p {
    max-width: 90%;
  }
}

@media (min-width: 1280px) {

  .todo-list li p {
    white-space: normal;
    overflow: visible;
  }

  .todo-actions-section button:hover {
    background-color: rgb(76, 121, 255);
    cursor: pointer;
  }

  .todo-list li:hover {
    background-color: rgb(242, 242, 242);
  }
}